/* fonts */
@font-face {
    font-family: 'Outfit-Light';
    src: url('../fonts/Outfit-Light.woff2') format('woff2'),
        url('../fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit-ExtraLight';
    src: url('../fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('../fonts/Outfit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit-Thin';
    src: url('../fonts/Outfit-Thin.woff2') format('woff2'),
        url('../fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit-Medium';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2'),
        url('../fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: 'Outfit-ExtraLight';
    font-weight: 200;
    font-size: 16px;
    line-height: 1;
    color: #020202;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: background 0.5s, color 0.5s;
}

.light-mode {
    background: #ffffff;
    color: #020202;
}

.dark-mode {
    background: #000;
    color: #ffffff;
}

body.light-mode .main-logo svg path {
    fill: #000000;
}

body.dark-mode .main-logo svg path {
    fill: #ffffff;
}

h2 {
    font-size: clamp(32px, 4.166vw, 80px);
    line-height: 1;
}

h3 {
    font-size: clamp(24px, 2.916vw, 56px);
    line-height: 1;
}

.highlight {
    /* font-family: 'Outfit-ExtraLight'; */
    font-size: clamp(48px, 6.666vw, 128px);
    font-weight: 600;
}

.days {
    font-family: 'Outfit-Medium';
    font-size: clamp(32px, 4.166vw, 80px);
}

.coming-soon-wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 100px 30px 170px;
}

.logo-width {
    width: 17vw;
}

.middle-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.change_word {
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 35rem;
    height: 2em;
    /* height: 9.4rem; */
    vertical-align: bottom;

}

.scrolling_word {
    display: flex;
    flex-direction: column;
}

.change_word .inner_word {
    display: block;
    height: 100%;
    line-height: 1.2;
    overflow: hidden;

    /* animation: swipe-the-words 14s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    -webkit-animation: swipe-the-words 14s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    will-change: transform;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); */
}


@keyframes swipe-the-words {

    0%,
    10% {
        transform: translateY(0%);
    }

    14%,
    24% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    28%,
    38% {
        transform: translateY(-200%);
    }

    42%,
    52% {
        transform: translateY(-300%);
    }

    56%,
    66% {
        transform: translateY(-400%);
    }

    70%,
    80% {
        transform: translateY(-500%);
    }

    84%,
    94% {
        transform: translateY(-600%);
    }

    98%,
    100% {
        transform: translateY(0%);
    }

    /* Loop back immediately */
}

@-webkit-keyframes swipe-the-words {

    0%,
    10% {
        transform: translateY(0%);
    }

    14%,
    24% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    28%,
    38% {
        transform: translateY(-200%);
    }

    42%,
    52% {
        transform: translateY(-300%);
    }

    56%,
    66% {
        transform: translateY(-400%);
    }

    70%,
    80% {
        transform: translateY(-500%);
    }

    84%,
    94% {
        transform: translateY(-600%);
    }

    98%,
    100% {
        transform: translateY(0%);
    }

}

/* responsive media query */
@media (max-width: 1800px) {
    .change_word {
        height: 8.4rem;
    }
}

@media (max-width: 1600px) {
    .coming-soon-wrapper {
        padding: 80px 30px 120px;
    }

}

@media (max-width: 1500px) {
    .change_word {
        height: 8rem;
    }

    .coming-soon-wrapper {
        padding: 60px 30px 100px;
    }
}

@media (max-width: 1399px) {
    .change_word {
        height: 6.4rem;
        margin-bottom: 12px;
    }

}

@media (max-width: 1180px) {
    .change_word {
        margin-bottom: 0;
    }

    .middle-content h2 {
        align-items: baseline;
        gap: 10px;
    }
}

@media (max-width: 991px) {
    .change_word {
        height: 4rem;
    }

    .logo-width {
        height: auto;
    }

    .coming-soon-wrapper {
        padding: 150px 30px 150px;
    }
}

@media (max-width: 575px) {
    .coming-soon-wrapper {
        height: 100svh;
        padding: 100px 30px 150px;
        justify-content: center;
        gap: 80px;
    }

    .middle-content h2 {
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .logo-width {
        height: auto;
        width: 11rem;
    }

    .change_word {
        height: auto;
        width: 100%;
        max-width: 200px;
    }

    .scrolling_word {
        flex-direction: row;
        transform: translateX(0);
    }

    /* .change_word {
        height: 3.4rem;
        overflow: hidden;
        display: flex;
        width: 270px;
        text-align: center;
        justify-content: start;
        animation: none;
        -webkit-animation: none;
    } */

    .change_word .inner_word {
        display: inline-block;
        width: 100%;
        flex-shrink: 0;
        line-height: normal;
        text-align: center;
    }


}

@media (max-width: 380px) {
    .middle-content h2 {
        gap: 10px;
    }
}